 .list-view-layout {
    display:flex;
    flex-direction:column;
    flex-grow: 1;
    height:100%;
    overflow:hidden;
}

.scrollable-table-container {
    overflow-y: auto;
    flex-grow: 1;
    min-height:0;
} 
