.responsive-table {
    width:100%;
    border: 1px solid blue;
   
} 

/* DESKTOP view */

  
@media screen and (min-width: 768px) {
.responsive-table .row {
  display: grid;
  grid-template-columns: var(--grid-template-columns);
  gap: 1rem;
  padding: 0.5rem 1rem;
  align-items: space-between ;
  border-bottom: 1px solid #333;
  width:100%;
}

.responsive-table .cell {
  /* Normal cell styling */
  padding: 0.25rem 0;
}

/* Hide cell label on desktop */
.responsive-table .cell .label {
  display: none;
}
}