.responsive-table {
    width:100%;
    border: 1px solid blue;
   
} 

/* DESKTOP view */

  
@media screen and (min-width: 768px) {
.responsive-table .row,
.responsive-table .table-row
 {
  display: grid;
  grid-template-columns: var(--grid-template-columns);
  align-items: center;;
  border-bottom: 1px solid #333;
  width:100%;
}
 .responsive-table .table-header {
    font-weight: bold;
    background-color: #f4f4f4;
    border-bottom: 2px solid black;
  }

.responsive-table .cell {
  /* Normal cell styling */
  padding-top: 0;
  padding-bottom: 0;
  border-right: 1px solid #ccc;
}

/* Hide cell label on desktop */
.responsive-table .cell .label {
  display: none;
}
}